<%- layout('layouts/main') %>


<div class="login-page">
    <div class="form">
      
      <form  action="/sigin" method="POST" class="login-form">
        <input type="email" name="email" placeholder="Email" autofocus>
            <input type="password" name="password" placeholder="Password">
            <button type="submit">
                SignIn
            </button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>