<%- layout('layouts/main')%>


<div class="login-page">
  <div class="form">
    
    <form  action="/sigup" method="POST" class="login-form">
      <input type="email" name="email" placeholder="Email" autofocus>
          <input type="password" name="password" placeholder="Password">
          <button type="submit">
              SignIn
          </button>
    </form>
  </div>
</div>
